<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="admin/end-common::commonCss(~{::title},~{},~{::script},~{::style})">
    <title>在线考试-后台管理</title>
    <script th:src="@{/echarts/echarts.min.js}"></script>
    <style type="text/css">
        .body {
            background-color: #f8f8f8;
        }

        .shortcut i {
            display: inline-block;
            width: 100%;
            height: 100px;
            line-height: 100px;
            text-align: center;
            border-radius: 2px;
            font-size: 40px;
            background-color: #F8F8F8;
            color: #333;

        }

        .shortcut cite {
            position: relative;
            top: 5px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 18px;
        }

        .shortcut a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .data {
            max-width: 100%;
            height: 87px;
            border-radius: 2px;
            background-color: #F8F8F8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:replace="admin/end-common::header"></div>
    <div th:replace="admin/end-common::side('index')"></div>

    <div class="layui-body body">
        <div class="layui-fluid" style="padding: 15px;">
            <div class="layui-row layui-col-space30">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">

                            <div style="width: 100%; height: 280px;">
                                <ul class="layui-row layui-col-space10 layui-this shortcut">
                                    <li class="layui-col-md3">
                                        <a th:href="@{/admin/user/user}">
                                            <i class="layui-icon layui-icon-username"></i>
                                            <cite>用户管理</cite>
                                        </a>
                                    </li>

                                    <li class="layui-col-md3">
                                        <a th:href="@{/logout}">
                                            <i class="layui-icon layui-icon-logout"></i>
                                            <cite>退出登录</cite>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body">
                            <div class="" style="width: 100%; height: 280px;">
                                <ul class="layui-row layui-col-space10">
                                    <li class="layui-col-md4">
                                        <div class="data">
                                            <span style="font-size: 20px;color:#009688">学生数量</span>
                                            <span style="font-size: 40px;font-weight: 400" th:text="${student}">0</span>
                                        </div>
                                    </li>
                                    <li class="layui-col-md4">
                                        <div class="data">
                                            <span style="font-size: 20px;color:#009688">题库种类</span>
                                            <span style="font-size: 40px;font-weight: 400" th:text="${repo}">0</span>
                                        </div>
                                    </li>
                                    <li class="layui-col-md4">
                                        <div class="data">
                                            <span style="font-size: 20px;color:#009688">考试场次</span>
                                            <span style="font-size: 40px;font-weight: 400" th:text="${exam}">0</span>
                                        </div>
                                    </li>
                                    <li class="layui-col-md4">
                                        <div class="data">
                                            <span style="font-size: 20px;color:#009688">教师数量</span>
                                            <span style="font-size: 40px;font-weight: 400" th:text="${teacher}">0</span>
                                        </div>
                                    </li>
                                    <li class="layui-col-md4">
                                        <div class="data">
                                            <span style="font-size: 20px;color:#009688">题目总数</span>
                                            <span style="font-size: 40px;font-weight: 400"
                                                  th:text="${question}">0</span>
                                        </div>
                                    </li>
                                    <li class="layui-col-md4">
                                        <div class="data">
                                            <span style="font-size: 20px;color:#009688">试卷数量</span>
                                            <span style="font-size: 40px;font-weight: 400" th:text="${paper}">0</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="layui-col-md12" style="margin-bottom: 50px;">
                    <div class="layui-card">
                        <div class="layui-card-header">图表展示</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel" id="chart" lay-filter="chart">
                                <div carousel-item>
                                    <div id="questionChart" style="max-width: 100%;height:400px;"></div>
                                    <div id="examChart" style="max-width: 100%;height:400px;"></div>
                                    <div id="userChart" style="max-width: 100%;height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:replace="admin/end-common::footer"></div>
</div>
<script th:inline="javascript">
    var myQuestionChart;
    var myExamChart;
    var myUserChart;
    layui.use('carousel', function () {

        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#chart'
            , width: '100%'
            , height: '400px'
            , arrow: 'none'
            , autoplay: false
            , indicator: 'inside'
            , trigger: 'mouseover'
        });

        initQuestionChart();
        initExamChart();
        initUserChart();

        carousel.on('change(chart)', function (obj) {
            console.log(obj.index); //当前条目的索引
            myQuestionChart.resize();
            myExamChart.resize();
            myUserChart.resize();
        });

    });

    function initQuestionChart() {
        $.ajax({
            url: '/chart/adminQuestionChart',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var questionChartDom = document.getElementById('questionChart');
                myQuestionChart = echarts.init(questionChartDom);
                var questionOption;

                questionOption = {
                    title: [{
                        text: '题目分布',
                        left: 'center',
                    }, {
                        subtext: '题库分布',
                        left: '25%',
                        top: '85%',
                        textAlign: 'center'
                    }, {
                        subtext: '题型分布',
                        left: '75%',
                        top: '85%',
                        textAlign: 'center'
                    }],
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: [{
                        orient: 'vertical',
                        left: 'left',
                        data: data.data.repo.dataList
                    }, {
                        orient: 'vertical',
                        left: 'right',
                        data: data.data.type.dataList
                    }],
                    series: [
                        {
                            name: '题库',
                            type: 'pie',
                            left: 0,
                            right: '50%',
                            radius: '65%',
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            data: data.data.repo.dataList
                        }, {
                            name: '题型',
                            type: 'pie',
                            left: '50%',
                            right: 0,
                            radius: '65%',
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            data: data.data.type.dataList
                        }
                    ]
                };

                myQuestionChart.setOption(questionOption);
            }
        });
    }

    function initExamChart() {
        $.ajax({
            url: '/chart/adminExamChart',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var examChart = document.getElementById('examChart');
                myExamChart = echarts.init(examChart);
                var examOption;
                examOption = {
                    title: {
                        text: '近7天考试数量分布',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    xAxis: {
                        type: 'category',
                        data: data.data.dateList
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            data: data.data.countList,
                            type: 'bar'
                        }
                    ]
                };
                myExamChart.setOption(examOption);
            }
        });
    }

    function initUserChart() {
        $.ajax({
            url: '/chart/adminUserChart',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var examChart = document.getElementById('userChart');
                myUserChart = echarts.init(examChart);
                var userption;
                userption = {
                    title: {
                        text: '近7天考试人数分布',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    xAxis: {
                        type: 'category',
                        data: data.data.dateList
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            data: data.data.countList,
                            type: 'bar'
                        }
                    ]
                };
                myUserChart.setOption(userption);
            }
        });
    }

</script>
</body>
</html>