<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iurac.testsystem.mapper.ApplyMapper">

    <select id="listApply" resultType="cn.iurac.testsystem.param.response.ApplyListResponseParam">
        SELECT
            u.id AS teacherId,
            u.name AS teacherName,
            c.id AS clazzId,
            c.name AS clazzName
        FROM t_user u
            LEFT JOIN r_user_clazz uc ON u.id = uc.user_id
            LEFT JOIN t_clazz c ON c.id = uc.clazz_id
        WHERE
            u.delete_flag = 0
            and c.delete_flag = 0
            and uc.quit_flag = 0
            and u.role = 2
        <if test="clazzIds!=null and clazzIds.size()!=0">
            and c.id not in
            <foreach collection="clazzIds" item="clazzId" open="(" close=")" separator=",">
                #{clazzId}
            </foreach>
        </if>
        <if test="name!=null and name!=''">
            AND (u.name LIKE concat('%', #{name},'%') OR c.name LIKE concat('%', #{name},'%') )
        </if>
    </select>
    <select id="listForPage" resultType="cn.iurac.testsystem.param.response.page.ApplyPageResponseParam">
        select
            a.id,
            u1.id AS studentId,
            u1.name AS studentName,
            u1.username AS studentUsername,
            u2.id AS teacherId,
            u2.name AS teacherName,
            u2.username AS teacherUsername,
            c.id AS clazzId,
            c.name AS clazzName,
            a.type,
            a.apply_time,
            a.finish_time,
            a.delete_flag
        FROM t_apply a
        LEFT JOIN t_user u1 ON u1.id = a.student_id
        LEFT JOIN t_user u2 ON u2.id = a.teacher_id
        LEFT JOIN t_clazz c ON c.id = a.clazz_id
        <where>
            a.delete_flag = 0
            <if test="param.type!=null">
                AND a.type = #{param.type}
            </if>
            <if test="param.applyStartTime!=null and param.applyStartTime!=''">
                AND a.apply_time &gt;= #{param.applyStartTime}
            </if>
            <if test="param.applyEndTime!=null and param.applyEndTime!=''">
                AND a.apply_time &lt;= #{param.applyEndTime}
            </if>
            <if test="param.createStartTime!=null and param.createStartTime!=''">
                AND a.create_time &gt;= #{param.createStartTime}
            </if>
            <if test="param.createEndTime!=null and param.createEndTime!=''">
                AND a.create_time &lt;= #{param.createEndTime}
            </if>
            <if test="param.teacherId!=null and param.teacherId!=''">
                AND a.teacher_id = #{param.teacherId}
            </if>
            <if test="param.studentId!=null and param.studentId!=''">
                AND a.student_id = #{param.studentId}
            </if>
        </where>
    </select>
</mapper>
