<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iurac.testsystem.mapper.UserMapper">

    <select id="listByExamId" resultType="java.lang.Long">
        SELECT DISTINCT ruc.user_id
        FROM t_exam e
        LEFT JOIN r_exam_clazz rec on e.id = rec.exam_id
        LEFT JOIN r_user_clazz ruc on rec.clazz_id = ruc.clazz_id
        LEFT JOIN t_user u on u.id = ruc.user_id
        WHERE rec.exam_id = #{examId} AND u.role = 1
    </select>
</mapper>
